
body { overflow-x: hidden; }
/* Barra de navegacion */

.navbar{
    padding: 1rem;
    background-color: #0f0f10;
   
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar .nav-link {
    color: white; /* Color de los enlaces */
    transition: color 0.3s ease-in-out;
}

.navbar .nav-link:hover {
    color: #5e3baa; /* Color al pasar el mouse por encima */
}

.navbar .nav-link.active {
    color: #5e3baa; /* Color del enlace activo */
}

/* Elementos generales */
section{
    display: flex; 
     flex-direction: column;
    justify-content: center;
    align-items: center;
} 

h1{
    font-size: 2.5rem;
    /* font-family: 'Rubik Dirt', cursive; */
    color: white;
}

/* Sección principal */
.principal {
    background-color: #0f0f10;
    text-align: center;
    min-height: 450px;
    height: 600px;
    /* //margin-top: 50px; */
}

.hero-principal {
    padding: 3rem;
    display: flex;
    align-items: center; /* Alineación vertical */
    color: white;
}

.principal-image {
    max-width: 250px;
    height: auto;
    margin-left: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-principal h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-principal p {
    color: #ffffffa2;    
}

/* Adaptable a dispositivos pequeños */
@media (max-width: 800px) {
    /* Ajustes para móviles */
    .principal {
        height: auto; /* Deja que la altura se ajuste automáticamente */
        padding-bottom: 50px;
    }
     
    .principal-image {
        margin-top: 20px;
        margin-left: 0;
        width: 200px;
        height: 200px;
    }
}

/* Iconos */

.iconos-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.iconRed {
    width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 2px;
    margin: 10px;
    border: 3px solid #372068;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes i { 
    color: #372068;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}


/* Adaptable a dispositivos pequeños */
@media (max-width: 400px) {
    .iconos-redes {
        margin-top: 15px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
    }

    .iconRed {
        width: 40px; 
        height: 40px;
        margin: 5px; 
        padding: 5px;
    }

    .iconos-redes i { 
        font-size: 1.2rem; 
    }
}

.iconos-redes a:hover {
    background-color: #6548a0;
    /* border: 2px solid rgb(5, 5, 97); */
}

.iconos-redes a:hover i {
    color: #ffffff;
}
.contacto button :hover{
    color: black;
}

.contacto-button a:hover i{
    color: black;
}
.cv{
    padding: 15px;
    text-decoration: none;
    margin: 20px;
}

/* Proyectos */

.proyectos-recientes {
    padding: 40px;
    background-color: #222224;
    color: white;
}

.proyectos-recientes img {
    
    width: 100%;
    height: 100%; /* Permite que la altura se ajuste automáticamente según la proporción de la imagen */
    padding: 10px;
    display: block;
    transition: all 0.2s ease;
    border-radius: 10p;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 30px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;

}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: block;
  }

.overlay i {
    font-size: 25px;
    margin: 10px;
    color: black;
}

.bagdes-contenedor {
    font-size: 20px;
    /* font-weight: bold; */
    margin: 15px 0;
}

.badge{
    background-color: #372068;
}

.btn{
    font-size: 20px;
    /* margin: 10px;  */
}

.boton :hover {
   color: #372068;
   background-color: #ffffff;
}
/* Habilidades */

.seccion-habilidades{
    min-height: 400px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #0f0f10;
    color: white;
}

.seccion-habilidades h2{
    font-size: 2rem;
    margin: 20px;
}

.iconos-habilidades {
    padding: 15px;
    transition: transform 0.3s ease;
}

.icon-habilidad {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-right: 25px; 
    /* margin: 20px,25px,20px,25px; */
}

.iconos-habilidades:hover {
    transform: scale(1.2);
}

.iconos-habilidades p {
    margin-top: 10px;
    font-weight: bold;
}

/* Sección de Contacto */
.seccion-contacto {
    background-color: #222224;
    color: white;
  }
  
  .seccion-contacto h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .seccion-contacto p {
    font-size: 1 rem;
    margin-bottom: 40px;
  }
  
  .seccion-contacto .form-label {
    font-weight: bold;
  }
  
  .seccion-contacto .form-control {
    background-color: #333;
    color: white;
    border: 1px solid #555;
  }
  
  .seccion-contacto .btn-primary {
    background-color: #372068;
    border-color: #372068;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    font-size: 20px;
  }
  
  .seccion-contacto .btn-primary:hover {
    background-color: #563d7c;
    border-color: #563d7c;
  }
  
/* Mensaje boottrasp */
.toast{
    border: 1px solid green;
    padding: 5px;
    background-color: transparent;
    color: white;
}

.error{
    border: 1px solid red;
    padding: 5px;
    background-color: transparent;
    color: white;
}

/* Footer */
footer{
    min-height: 200px;
    background-color: #0f0f10;
    color: white;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 20px;
    font-family:'Quicksand' , sans-serif;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;  
}
.contacto button i{
    color: white;
    font-size: 1.25rem;
    transition: all 0.2s ease-in-out;
}



@media screen and (max-width:767px) {
    .navbar-brand{
        display: none;
    }
}

